@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: Roboto, sans-serif;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
h1{
    border-bottom: #0c250e solid 2px;
    padding: 20px;
    width: 800px;
    margin: 40px auto;
    font: 900 36px Robot, sans-serif;
    color: #113814;
}
.header, .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #113814;
}
.header{
    border-bottom: #0c250e 1px solid;
    height: 100px;
    position: sticky;
    top: 0;
}
a{
    color: #e5e7eb;
    text-decoration: none;
}
.header img{
    width: 100px;
    height: 100px;
}
.header ul, .logo{
    padding: 0 15%;
    display: flex;
    gap: 40px;
    list-style: none;
    color: #f9faf8;
}
.hero{
    text-align: start;
    padding: 20px 15%;
    min-height: 400px;
}
.hero img{
    padding: 0;
    width: 45%;
    height: auto;
}
.hero .text{
    padding: 20px 0;
    max-width: 500px ;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.hero .main.text{
    padding: 0;
    font-size: 60px;
    font-weight: 900px;
    color: #f9faf8;
}
.hero .second.text{
    padding: 0;
    color: #e5e7eb;
}
.button button{
    border: #e5e7eb solid 2px;
}
button{
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    padding: 6px 20px;
    background-color: #2b9234;
    border-radius: 10px;
    border: 0;
}
.container{
    gap: 30px;
    padding: 0 15%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.infos{
    min-height: 500px;
}
.info{
    width: 250px;
}
.info img{
    border: #113814 solid 2px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.quote{
    font: italic lighter 30px Roboto, sans-serif;
    color: #1f2937;
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 5% 15%;
    min-height: 400px;
    background-color:#e5e7eb;
}
.quote img{
    border-radius: 20px;
    width: 300px;
    height: auto;
    border: #f8fbff solid 5px;
}
.button{
    color: #e5e7eb;
    background-color:  #2b9234; ;
    height: 200px;
    display: flex;
    border-radius: 10px;
    margin: 10% 15%;
    justify-content: space-around;
    align-items: center;
}
.main{
    font: bolder 30px Roboto, sans-serif;
    text-align: left;
    margin-bottom: 5px;
}
.footer{
    display: flex;  
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    background-color: #0c250e;
    height: 150px;
}